@font-face
{
    font-family: 'BallparkWeiner';
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    font-weight: normal;
    font-style: normal;
}


body
{
    background: #000000;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #00B9FF; <!--Couleur bleu clair-->
}

#bloc_page
{
    width: auto;
    margin: auto;
}

section h1, footer h1, nav a
{
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
    color: #003EFF; <!--Couleur bleu foncé-->
}


header
{
    background: url('images/separateur.png') repeat-x bottom;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
    color: #3888AD;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: 59px;
    height: 60px;
}

header h1
{
    font-family: 'BallparkWeiner', serif;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

header h2
{
    font-family: Dayrom, serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}


nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 50px;
}

nav a
{
    font-size: 1.3em;
    color: #003EFF;
    padding-bottom: 5px;
    text-decoration: none;
}



.picture-middle{
    float: right;
}
 
.div-categoryContainer{
    padding: 10px;
}
 
.paragraph-right {
  margin-right : 50px;
}

section
{
    display: flex;
    margin-bottom: 30px;
}

article
{
    margin-right: 30px;
    flex: 5;
}



article p
{
    font-size: 0.8em;
}

aside img
{
    margin-right: 5px;
}


footer
{
    display: flex;
    background: url('images/separateur.png') repeat-x top
    padding-top: 20px;
}

footer p, footer ul
{
    font-size: 0.8em;
}

footer h1
{
    font-size: 1.1em;
}